body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514E;
  text-shadow: 1px 1px 0 #BBB5A2;
}

@media (max-width: 800px)
{
    .fixed-top
    {
    position: relative;
    top: auto;
    }

    .navbar {
      font-size: 20px;
      
    }

    .brand-logo-txt {
      font-size: 40px;
    }
}

h1 {
  font-family: 'Indie Flower', cursive;
  font-size: 5rem;
  font-weight: 700;
  line-height: 2;
  margin: 50px auto 30px auto;
  color: #0F3D3E;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  color: #3FA6A9;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #3FA6A9;
  font-size: 1.17em;
}

.hr1 {
  background-color: transparent;
  border-style: dotted none none none;
  width: 9%;
  border-width: 10px;
  border-color: #95907F;
  margin: 100px auto;
}

.spacer {
  height: 6px;
}

p {
  line-height: 2;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/*******************TOP CONTAINER*******************/

#title {
  position: relative;
  background: url(../images/cover-image.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 120px;
}

.brand-logo-txt {
  padding-left: 10px;
}

.links-txt {
  color: #3FA6A9;
  font-family: 'Montserrat', sans-serif;
}

.portf-hover-txt:before {
  content: url(../images/soon.png);
  visibility: hidden;
  opacity: 0;
  text-align: center;
  transition: opacity 1s ease-in-out;

  position: absolute;
  top: 1.5em;

}

.portf-hover-txt:hover:before {
  opacity: 1;
  visibility: visible;
}

.top-container {
  padding-top: 100px;
}

.enthusiast-head {
  font-weight: normal;
  color: #3FA6A9;
  margin: 0.83em 0 2em 0;
}

.coding-text {
  text-decoration: underline;
}


/*******************PROFILE CONTAINER*******************/
.profile-container {
  margin: 100px 0;
}

.profile-pic1 {
  position: absolute;
  margin: 20px;
}

.profile-pic2 {
  position: relative;
  margin: 20px;
  animation: fadein 2s;
  opacity: 1;
  transition: .3s ease;
}

.profile-pic2:hover {
  opacity: .5;
  transition: opacity .2s ease-out;
}

.hello-txt {
  margin: 0.83em 0;
  padding-bottom: 15px;
}

.intro-txt {
  width: 30%;
  margin: auto;
}

/*******************SKILL CONTAINER*******************/

.skills-container {
  background-color: #E2DCC8;
  padding-top: 100px ;
  padding-bottom: 40px;
  color: #fff
}

.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
}


.html-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.code-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}

/*******************CONTACT CONTAINER*******************/
.contact-container {
  margin: 100px 0;
}

.btn {
  background: #e2dcc8;
  background-image: linear-gradient(top, #3fa5a9, #0F3D3E);
  background-image: linear-gradient(to bottom, #3fa5a9, #0F3D3E);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  text-shadow: 1px 1px 3px #666666;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 18px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3fa5a9;
  background-image: linear-gradient(top, #e2dcc8, #95907f);
  background-image: linear-gradient(to bottom, #e2dcc8, #95907f);
  text-decoration: none;
}

.git-talk {
  padding-bottom: 40px;
}

.lets-talk {
  margin-bottom: 70px;
  margin-top: 35px;
}

/*******************BOTTOM CONTAINER*******************/
.bottom-container {
  margin-top: 25px;
  background-color: #E2DCC8;
  padding-top: 50px;
}

.footer-link {
  color: #BBB5A2;
  text-shadow: 0 0 0 #BBB5A2;
  font-weight: bold;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  margin: 10px 20px
}

.footer-link:hover {
  color: #F7F2E2;
  text-shadow: 1px 1px 0 #BBB5A2;
}

.cert {
  color: #EAF6F6;
  padding: 20px 0 40px 0;
  text-shadow: 2px 2px 0 #BBB5A2;
  font-family: 'Montserrat', sans-serif;
}
